/* for message center distinction :D */
.nelly {
    color: blue;
}

*{
    list-style: none;
    text-decoration: none;

}

h1,body,ul,li{
    margin: 0;
    padding: 0;
}


#logo {
    text-align: center;
}

/* Styling the navigation links */
nav {
    position: absolute;
    background-color: #333;
    width: 100%;
}
nav ul {
    width: 100%;
}
nav li {
    float: left;
    border-right: 1px solid #bbb;
    position: relative;
}
nav a {
    background-color: #333;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    -webkit-transition: all .7s ease-out;
       -moz-transition: all .7s ease-out;
        -ms-transition: all .7s ease-out;
         -o-transition: all .7s ease-out;
            transition: all .7s ease-out;
}
nav a:hover, nav a:focus {
    background-color: #111;
}
nav li ul {        /* dropdown menu transition */
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
nav li:hover ul, nav li:focus ul  {
    opacity: 1;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover, nav li ul a:focus {
    background-color: #111;
}
/* End of nav links */


footer {
    text-align: center;
    padding-top: 5px;
}


/* Styling social icons */
.social-icon {
    display: inline-block;
}

/* Adding transition to FB button */
/* Twitter button has JS property embedded in html file
that does a similar effect. Will look for ways to improve */
#swap {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0;
    /*border: 5px solid red;*/
}
#swap img {
    position:absolute;
    margin: 0;
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}
#swap img.no-wrap {
    opacity: 0;
}
#swap img.no-wrap:hover {
    opacity: 1;
}
/* this doesn't work :(. will look into this later
#facebook {
   background-image: url('img/facebook.png');
}

#facebook:hover {
    background-image: url('img/facebook-wrap.png');
}
*/

#container {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
}
#slideshow {
  height: 100%;
  width: 100%;
}
#slideshow img {
  height: 100%;
  width: 100%;
}
#pager:hover {
  opacity: 1;
}

#next {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  margin: auto 10px;
  z-index: 1000;
}

#prev {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  margin: auto 10px;

}

#pager img {
  margin: 10px 5px;
  opacity:0.3;
  transition:all .3s ease-in-out 0s;
}
#pager img:hover {
  opacity:1;
  transform:scale(1.05);
  z-index:100;
}

footer{
  clear: both;
}

#left h2{
  margin-top: 85px;
  text-align: right;
  margin-right: 120px;
}

.powr-instagram-feed {
  clear: both;
  margin: 0 auto;
  padding-top: 10px;
  width: 500px;
  height: 100%;
  float: right;
}


