@media screen and (min-width: 100px){


  #ModalButton {
    margin-left:35%;
    margin-top: 1%;
  }
  .row {
    width: auto;

/*    background-color: olivedrab;*/
  }

}

@media screen and (min-width: 480px){


  #ModalButton {
    margin-left:30%;
    margin-top: 1%;
  }
  .row {
    width: 50%;
    float: left;
/*    background-color: darkcyan;*/
  }

}


@media only screen and (min-width: 760px) {

  #ModalButton {
    margin-left:23%;
    margin-top: 1.5%;
  }
  .row {
    width: 100%;
/*    background-color: red;*/
  }


}

